.header{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(
        to right bottom,rgba($color-black, .8), 
        rgba($color-secondary-dark, 1)), 
        url('../img/header-background.png');

    /* always try to fit inside the box entirely*/
    background-size: cover;

    //background-blend-mode: multiply;

    /* top position of the image remains stable while bottom will be croped while adjustiing the screen size because of box-sizing  */
    background-position: top;

    /* in these x and y axis contained area shuould be visible in the header */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @include respond(phone){
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    position: relative;

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;

        @include respond(phone){
            top: 8rem;
            left: 6rem;
        }
    }
    &__logo{
        height: 3.5rem;

        @include respond(phone){
            height: 4rem;
        }
    }

    &__social{

        text-decoration: none;
        list-style: none;

        &-icon{
            position: absolute;
            right: 25rem;
            top: 25rem;
            z-index: 200;
            width: 4rem;
            height: 4rem;
            fill: white;
            cursor: pointer;
            
            backface-visibility: hidden;

            transition: transform .2s;

            &-outside{
                fill: rgb(255, 255, 255) !important;
            }
            &-inside{
                fill: rgb(0, 0, 0) !important;
            }
        }
    }
}

.main-img{
    width: 30rem;
    height: 30rem;
    position: absolute;
    right: 12rem;
    top: 13rem;
    background-size: contain;
    animation: main-img-anim 1.5s ease-in-out;

    @include respond(phone){
        right: 50%;
        transform: translateX(50%);
        top: 10rem;

        animation: main-img-anim-phone 1.5s ease-in-out;
    }
}

.git-hub{
    transform: translate(10rem, -10rem);
    animation: social-anim 3s ease-out, social-anim-gitHub 3s ease-out .5s;

    &:hover{
        transform:translate(10rem, -10rem) scale(1.5);;
    }
}
.linked-in{
    
    &-outside{
        fill: rgb(255, 255, 255) !important;
    }
    &-inside{
        fill: rgb(0, 0, 0) !important;
    }
    
    transform: translate(14rem, -2rem);
    animation: social-anim 3s ease-out, social-anim-linkedIn 3s ease-out .5s;

    &:hover{
        transform: translate(14rem, -2rem) scale(1.5);
    }
    
}
.instagram{
    transform: translate(12.5rem, 7rem);
    animation: social-anim 3s ease-out, social-anim-instagram 3s ease-out .5s;

    &:hover{
        transform:translate(12.5rem, 7rem) scale(1.5);
    }
}