.feature-box{
    text-align: center;
    text-transform: uppercase;
    
    //background-image: linear-gradient(30deg, rgb(255, 6, 255), $color-black);

    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 2px;
    box-shadow: 0px 1rem 2rem rgba($color-black, 0.15);
    cursor: pointer;
    text-wrap: nowrap;
    transition: transform 0.4s;
    position: relative;
    height: 39rem;
    z-index: 100 ;


    &::before{
        content: "";
        height: 98%;
        width: 96%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(2%, 1%);
        background-color: rgb(0, 0, 0);
        color: black;
        z-index: -1;
    }


    @include respond(tabPort){
        padding: 5rem;
        height: auto;
    }

    @include respond(tabPort){
        font-size: 3rem;
    }
    &__icon{
        font-size: 6rem;
        padding-bottom: .5rem;
        display: inline-block;
        background:linear-gradient(to right, $color-primery-light, $color-primery-dark);
        background-clip: text;
        color: transparent;

        @include respond(tabPort){
            font-size: 12rem;
        }
    }
    &__text{
        text-wrap: balance;
        text-transform: none;
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.05);

        // @include respond(tabPort){
        //     transform: translateY(0rem) scale(1);
        // }
    }
}

