@keyframes main-img-anim{
    
    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    60%{
        opacity: .6;
        // visibility: visible;
    }   
    100%{
        opacity: 1;
        transform: translateY(0px) ;
    }

}
@keyframes main-img-anim-phone{
    
    0%{
        opacity: 0;
       // transform: translateY(-30px);
    }

    60%{
        opacity: .6;
        // visibility: visible;
    }   
    100%{
        opacity: 1;
       // transform: translateY(0px) ;
    }

}
@keyframes moveLeftoRight {
    
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    60%{
        transform: translateX(20px);
    }   
    100%{
        opacity: 1;
        transform: translateX(0px) ;
    }

}
@keyframes moveRightoLeft {
    
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }

    60%{
        transform: translateX(-2rem);
    }   
    100%{
        opacity: 1;
        transform: translateX(0px);
    }

}
@keyframes btnMoveUp{

    0%{
        transform: translateY(4rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes cursor-anim{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes bulb{

    0%{
        color: $color-primery-dark;
    }
    50%{
        color: $color-primery-light;
    }
}
@keyframes bulb-2{

    0%{
        fill: $color-primery-mid;
        color: #777;
    }
    50%{
        fill: $color-primery-light;
        color: rgb(226, 226, 226);
    }
}
